﻿<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/CSS/Media.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script>

    var tableBody = '';

    function UserAction() {
        var xhttp = new XMLHttpRequest();
        var selectedTimeZone = $("#tsId option:selected").val();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                tableBody = '';
                var tablePrep = JSON.parse(this.responseText);
                setTableRow(tablePrep);
                $('#resTable').append(tableBody)
            }
        };
        xhttp.open("GET", "http://localhost:56126//api/currenttime/" + selectedTimeZone, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();

    }

    function setTableRow(data) {
        
        var endDiv = '</div>';
        var ipDiv = '<div class = "col-sm-3">';
        var timeDiv = '<div class = "col-sm-3">';
        var timezoneDiv = '<div class = "col-sm-6">';

        tableBody += '<div class = "row">';
        tableBody += ipDiv;
        tableBody += '<p>' + data.clientIp + '</p>';
        tableBody += endDiv;
        tableBody += timeDiv;
        tableBody += '<p>' + data.time + '</p>';
        tableBody += endDiv;
        tableBody += timezoneDiv;
        tableBody += '<p>' + data.timezone + '</p>';
        tableBody += endDiv;
        tableBody += endDiv;
    }

    $(document).ready(function () {
        $("th").hide();
        
        
        var startHttp = new XMLHttpRequest();
        startHttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var tablePrep = JSON.parse(this.responseText);
                $.each(tablePrep, function (key, value) {
                    setTableRow(value);
                });
                $("th").show();
                $('#resTable').append(tableBody);
            }
        };
        startHttp.open("GET", "http://localhost:56126//api/currenttime/getall", true);
        startHttp.setRequestHeader("Content-type", "application/json");
        startHttp.send();
    })


</script>
<div class="container">
    <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
    <br />


    <div class="row">
        <div class="col-sm-12">
            @Html.DropDownList("TimeZones", (IEnumerable<SelectListItem>)ViewBag.DisplayName, "---Select Timezone---", new { @id = "tsId" })
            <button type="submit" onclick="UserAction()">Get the time</button>
        </div>
    </div>
</div>
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-3"><h4>IP Address</h4></div>
        <div class="col-sm-3"><h4>Timestamp</h4></div>
        <div class="col-sm-6"><h4>Timezone</h4></div>
    </div>
    <div id="resTable"></div>
</div>




